/laravel/vendor
/laravel/node_modules
/laravel/public/storage
/laravel/storage/*.key
/laravel/.env
/.phpunit.result.cache
/laravel/storage/framework/cache/data/*
/laravel/storage/framework/sessions/*
/laravel/storage/framework/views/*
/laravel/storage/logs/*.log
/.idea
/.vscode
